<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%=byebug%>
    %img{src: generate_qr("http://www.leighhalliday.com"), class: "qr-code"}
    <h1>You're checked in to <%= @event.title%>.</h1>

  </body>
</html>
