<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @attendee.first_name%>,</h1>
    <p>
      Thank you for coming!<br>
    </p>
  </body>
</html>
