<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @lead.first_name%>,</h1>
    <p>
      We can't wait to see you in one week!<br>
    </p>
  </body>
</html>
