<p>Hi <%= @trainer_lead_interview.trainer_lead.first_name%>!</p>
  <p>You have an interview with <%=full_name(@trainer_lead_interview.trainer)%>.</p>
  <p>
    The interview will be held at <%=@trainer_lead_interview.location%>
  </p>
<p>
  The date will be determined determined in the next few days.
</p>
<p>
  Thank you!
</p>
