<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @company_lead.first_name%>.</h1>
    <h1>You're checked in to <%= @event.title%>.</h1>

  </body>
</html>
